
/*=======================
    Award Area 
=======================*/

.award-content{
    ul{
        &.rn-award-list {
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                color: #000000;
                font-size: 18px;
                font-weight: 300;
                margin-top: 38px;
                letter-spacing: 1px;
                a{
                    color: #000000;
                    font-size: 18px;
                    font-weight: 500;
                    display: block;
                    transition: 0.3s ease-in-out;
                    &:hover{
                        color: $theme-color;
                    }
                    span{
                        font-weight: 300;
                    }
                }
            }
        }
    }
}


.rn-ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.rn-images-bg-wrapper{
    background-size: cover;
    background-position: center center;
}

.rn-blog-wrapper,
.rn-service-bg-wrapper,
.rn-skill-bg-wrapper,
.rn-story-bg-wrapper{
    background-size: cover;
    background-position: center center;
}












