/* =====================
Service Area 
========================*/

.service{
    margin-top: 40px;
    h4 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 11px;
        a {
            color: #000000;
            transition: 0.3s ease-in-out;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            -ms-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
        }
    }
    p {
        color: #000000;
        font-size: 14px;
        line-height: 26px;
        font-weight: 300;
        letter-spacing: 1px;

        a{
            color: #ca3c08;
            &:hover{
                color: #ea9629;
            }
        }
    }
}










